.navbar {
  background-color: #026aa7 !important;

  .collapse.navbar-collapse {
    justify-content: center;

    .navbar-text {
      color: white;
      font-weight: bold;
      font-size: xx-large;
    }
  }
}
