.navbar {
  background-color: #026aa7 !important;

  > div {
    display: flex;
    justify-content: center;
    width: 100%;

    .navbar-text {
      color: white;
      font-weight: bold;
      font-size: xx-large;
    }
  }
}
