<app-card [title]="cardTitle">
  <div class="row">
    <app-label class="col-sm-3" label="Capture rate">
      <span>{{ species.capture_rate }}</span>
    </app-label>
    <app-label class="col-sm-3" label="Is Legendary">
      <span>{{ species.is_legendary | boolean }}</span>
    </app-label>
    <app-label class="col-sm-3" label="Is Mythical">
      <span>{{ species.is_mythical | boolean }}</span>
    </app-label>
    <app-label class="col-sm-3" label="Evolves from species">
      <span>{{ !!species.evolves_from_species ? (species.evolves_from_species.name | titleCaseDashedName) : 'None' }}</span>
    </app-label>
    <app-label class="col-sm-12" label="Form descriptions">
      <span>{{ !!species.form_descriptions.length ? species.form_descriptions : 'None'  }}</span>
    </app-label>
  </div>
</app-card>
