<app-card [title]="species.name | titleCaseDashedName">
  <div class="row">
    <span>image</span>
    <app-label class="col-sm-3" label="capture rate">
      <span></span>
    </app-label>
    <app-label class="col-sm-3" label="is legendary">
      <span></span>
    </app-label>
    <app-label class="col-sm-3" label="is mythical">
      <span></span>
    </app-label>
    <app-label class="col-sm-3" label="evolves from species">
      <span></span>
    </app-label>
    <app-label class="col-sm-3" label="form descriptions">
      <span></span>
    </app-label>
    <!-- colocar #número junto com o título no card -->
    <!-- image -->
    <!-- capture rate -->
    <!-- is legendary -->
    <!-- is mythical -->
    <!-- evolves from species -->
    <!-- form descriptions -->
    <!-- <app-label class="col-sm-3" label="name">
      <span></span>
      <a [routerLink]="[]" (click)="onClickRegion($event)">{{ '' }}</a>
    </app-label> -->
  </div>
</app-card>
