<app-card [title]="cardTitle">
  <div class="row">
    <div class="col-sm-2 align-center">
      <img [src]="imageUrl" [alt]="species?.name">
    </div>
    <div class="col-sm-10">
      <div class="row">
        <app-label class="col-sm-4" label="Capture rate">
          <span>{{ species.capture_rate }}</span>
        </app-label>
        <app-label class="col-sm-4" label="Is Legendary">
          <span>{{ species.is_legendary | boolean }}</span>
        </app-label>
        <app-label class="col-sm-4" label="Is Mythical">
          <span>{{ species.is_mythical | boolean }}</span>
        </app-label>
        <app-label class="col-sm-4" label="Evolves from species">
          <span>{{ !!species.evolves_from_species ? (species.evolves_from_species.name | titleCaseDashedName) : 'None' }}</span>
        </app-label>
        <app-label class="col-sm-8" label="Form descriptions">
          <span>{{ !!species.form_descriptions.length ? species.form_descriptions : 'None'  }}</span>
        </app-label>
      </div>
    </div>
  </div>
</app-card>
