/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import url(https://fonts.googleapis.com/css?family=Roboto);

// regular style toast
@import '../node_modules/ngx-toastr/toastr';

body {
  font-family: "Roboto", sans-serif;
  padding-top: 80px; // padding to prevent navbar overlap
  background-color: rgba(0, 0, 0, 0.125);
}